.block-main {
  padding-top: $navbar-height + 15;
  padding-bottom: $footer-height;
  overflow-x: hidden;
  height: 100%;

  .container {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    transition: transform 0.5s;

    > .col {
      padding: 0 15px;
    }
  }
}
