.block-main {
  padding-top: $navbar-height + 15;
  padding-bottom: $footer-height + 15;
  overflow-x: hidden;
  height: 100%;
  background-color: #292c35;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right 15px bottom 5px;
  background-image: url('./../images/wavbo.svg');

  .container {
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    transition: transform 0.5s;

    > .col {
      padding: 0 15px;
    }
  }
}
