.block-navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  border-bottom: 2px solid $secondary-color;

  nav {
    height: $navbar-height;
    line-height: $navbar-height;
  }

  .brand-logo {
    font-size: 1.5rem;
  }
}
