.message {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  font-size: 1rem;

  .message-avatar {
    border-radius: 50%;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 45px;
    min-width: 45px;

    // Settings below is only for wavinfo avatar now
    background-color: #636262;
  }

  .message-avatar-img {
    padding: 10px;
    width: 100%;
    height: 100%;
  }

  .message-content {
    padding: 0.5rem 0.75rem;
    margin: 0;
    flex: 0 1 auto;
    border-radius: 15px;
    position: relative;
  }

  &.message-left {
    justify-content: flex-start;

    .message-content {
      background-color: map-get($grey, lighten-4);

      &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 15px solid map-get($grey, lighten-4);
        // change arrow position below if needed
        border-left: 15px solid transparent;
        left: -10px;
      }
    }
  }

  &.message-right {
    justify-content: flex-end;

    .message-content {
      background-color: $secondary-color;

      &:after {
        content: '';
        position: absolute;
        top: 10px;
        width: 0;
        height: 0;
        border-top: 15px solid $secondary-color;

        // change arrow position below if needed
        border-right: 15px solid transparent;
        right: -10px;
      }
    }
  }

  .message-typing {
    display: block;
    background-color: map-get($grey, lighten-4);
    width: 70px;
    line-height: 34px;
    height: 34px;
    border-radius: 15px;
    text-align: center;

    .message-typing-bubble {
      display: inline-block;
      background-color: #b6b5ba;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      margin-right: 5px;
      animation: bob 1.5s infinite;

      // SAFARI GLITCH
      &:nth-child(1) {
        animation-delay: -1s;
      }

      &:nth-child(2) {
        animation-delay: -0.85s;
      }
      &:nth-child(3) {
        animation-delay: -0.7s;
        margin-right: 0;
      }
    }

    @keyframes bob {
      10% {
        transform: translateY(-5px);
        background-color: #9e9da2;
      }
      50% {
        transform: translateY(0);
        background-color: #b6b5ba;
      }
    }
  }

  &.message-bulletin {
    position: fixed;
    z-index: 0;
    bottom: 60px;
    left: 10px;
    border-radius: 15px;
    width: 55%;
    background-color: $secondary-color;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 15px solid $secondary-color;

      // change arrow position below if needed
      border-right: 15px solid transparent;
      right: -10px;
    }
  }
}
