/**
 * Variables for materialize-css
**/
$primary-color: #292C35;
$secondary-color: #FCCF3E;
// $secondary-color: #D7D7D7;

/**
 * Variables for components
**/
$navbar-height: 56px;
$footer-height: 46px;
